img {margin: 20px; border: 2px solid black; width: 250px;}

h1 {font-size: 30px; margin-bottom: 50px;}

body {background: lightgrey; padding: 50px;}

main {width: 1000px; margin: 0 auto; font-family: 'Poppins', sans-serif;}

